# comments and empty lines are ok
#
# Copyright (c) 2015-2016 Kitsilano Software Inc (https://doublethink.co)
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.  


CT_ARCH_ARCH="armv5",
CT_ARCH_FLOAT_HW=y, # y and n seem not to have double-quotes in the original config
CT_ARCH_FLOAT_SW=, # an missing value will comment out the corresponding key
CT_ARCH_32=y,
CT_ARCH_FLOAT="hard"

